   {/*  <button
                  className="edit"
                  onClick={() => {
                    setEditar(pelicula.id);
                  }}
                >
                  Editar
                </button> */}
                {/* 
                <button
                  className="delete"
                  onClick={() => {
                    borrarPelicula(pelicula.id);
                  }}
                >
                  Borrar
                </button> */}
                {/*   {editar === pelicula.id && (
                  <Editar
                    pelicula={pelicula}
                    datos={datos}
                    setDatos={setDatos}
                    leerLS={leerLS}
                    setEditar={setEditar}
                  />
                )} */}